<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>联系反馈</string>
	<string>眼跳预测</string>
	<string>评分</string>
	<string>关于</string>
	<string>zhudi</string>
	<string>mengmeng</string>
</array>
</plist>
